html,
select {
	font-family: sans-serif;
	font-size: 100%;
}

body {
	width: 12rem;
	user-select: none;
}

input {
	display: none;
}

.toggle + label {
	position: relative;
	float: right;
	height: 1rem;
	cursor: pointer;
}

.toggle + label::before,
.toggle + label::after {
	position: absolute;
	top: 0.1rem;
	bottom: 0.1rem;
	right: 0.1rem;
	width: 1.6rem;
	background-color: silver;
	border-radius: 0.4rem;
	content: '';
	transition: all 0.2s;
}

.toggle + label::after {
	top: 0;
	bottom: 0;
	right: 0;
	width: 1rem;
	margin-right: 0.8rem;
	background-color: grey;
	border-radius: 0.5rem;
	box-shadow: 0 0.05rem 0.2rem;
}

.toggle:checked + label::after {
	margin-right: 0;
	background-color: #08F;
}

.toggle + label:hover::after {
	background-color: #49F;
}

select {
	width: 100%;
}

#edit-mapping {
	margin: 0.5rem 0;
	border: 0.02rem solid silver;
}

.mapping-branch {
	position: relative;
	width: 100%;
	margin: 0;
	border: 0.05rem solid #EEE;
}

.mapping-key {
	float: left;
	width: 3.7rem;
	margin: 0.2rem;
	padding: 0.2rem;
	border: 0.05rem solid silver;
	border-radius: 0.1rem;
	cursor: text;
}

.mapping-value-row {
	margin-left: 4.6rem;
}

.mapping-value {
	display: inline-block;
	width: 3.7rem;
	margin: 0.2rem;
	padding: 0.2rem;
	border: 0.05rem solid silver;
	border-radius: 0.1rem;
	cursor: text;
}

.mapping-probability {
	display: inline-block;
	width: 1.8rem;
	margin: 0.2rem;
	padding: 0.2rem;
	border: 0.05rem solid silver;
	border-radius: 0.1rem;
	text-align: right;
}
